<h1> Importing data from SF-salary Document </h1>

In [1]:
import pandas as pd
import os
import zipfile

employee_List = pd.read_csv('Total.csv', low_memory=False)

#return the first 10 employees but number is optional you can insert any number
employee_List.head(10)

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,Not Provided,567595.43,567595.43,2011
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,Not Provided,538909.28,538909.28,2011
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,Not Provided,335279.91,335279.91,2011
3,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,Not Provided,332343.61,332343.61,2011
4,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,Not Provided,326373.19,326373.19,2011
5,DAVID SULLIVAN,ASSISTANT DEPUTY CHIEF II,118602.00,8601.00,189082.74,Not Provided,316285.74,316285.74,2011
6,ALSON LEE,"BATTALION CHIEF, (FIRE DEPARTMENT)",92492.01,89062.90,134426.14,Not Provided,315981.05,315981.05,2011
7,DAVID KUSHNER,DEPUTY DIRECTOR OF INVESTMENTS,256576.96,0.00,51322.50,Not Provided,307899.46,307899.46,2011
8,MICHAEL MORRIS,"BATTALION CHIEF, (FIRE DEPARTMENT)",176932.64,86362.68,40132.23,Not Provided,303427.55,303427.55,2011
9,JOANNE HAYES-WHITE,"CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",285262.00,0.00,17115.73,Not Provided,302377.73,302377.73,2011

<h1> Function that accepts an employee's name as input and returns their details </h1>

In [2]:
def get_employee_details(employee_name, employee_List):
    try:
        # Filter the dataset by employee name
        employee_data = employee_List[employee_List['EmployeeName'].str.lower() == employee_name.lower()]
        
        if employee_data.empty:
            return f"No details found for employee: {employee_name}"
        
        # Convert the result to a dictionary format for better readability
        return employee_data.to_dict(orient='records')
    
    except Exception as e:
        return f"An error occurred: {str(e)}"

print('Enter employee full name:')
employee_name = input() 
employee_details = get_employee_details(employee_name, employee_List)
print(employee_details)

Enter employee full name:

 ALSON LEE

[{'EmployeeName': 'ALSON LEE', 'JobTitle': 'BATTALION CHIEF, (FIRE DEPARTMENT)', 'BasePay': '92492.01', 'OvertimePay': '89062.90', 'OtherPay': '134426.14', 'Benefits': 'Not Provided', 'TotalPay': 315981.05, 'TotalPayBenefits': 315981.05, 'Year': 2011}]

<h2>Data Processing by sorting Employee's Ascending or Descending basing on their TotalPay</h2>

In [3]:
def sort_employees_by_totalpay(employee_List, ascending=True):
    try:
        sorted_employee_List = employee_List.sort_values(by='TotalPay', ascending=ascending)
        return sorted_employee_List
    
    except Exception as e:
        return f"An error occurred: {str(e)}"

# sort in ascending order
sorted_employees_asc = sort_employees_by_totalpay(employee_List, ascending=True)
print(sorted_employees_asc[['EmployeeName', 'TotalPay']].head(10))  # Display first 10 employees by ascending TotalPay
print('\n')
# sort in descending order
sorted_employees_desc = sort_employees_by_totalpay(employee_List, ascending=False)
print(sorted_employees_desc[['EmployeeName', 'TotalPay']].head(10))  # Display first 10 employees by descending TotalPay

                    EmployeeName  TotalPay
148649                 Joe Lopez   -618.13
270571  Carlos R Castro Santiago   -498.12
188036                Lubna Kaur   -292.40
229006              Elvira James    -60.00
110529            Mark E Laherty      0.00
110530             David P Kucia      0.00
305500          Ricardo D Bacani      0.00
306123           Ceasar G Garcia      0.00
306318         Jennifer L Keeton      0.00
306330          Francesca Vietor      0.00


                EmployeeName   TotalPay
270573         Paulo Morgado  592394.34
0             NATHANIEL FORD  567595.43
270574  William J Coaker Jr.  560793.00
229007  William J Coaker Jr.  545294.86
1               GARY JIMENEZ  538909.28
188037  William J Coaker Jr.  527343.14
148650  William J Coaker Jr.  507831.60
229010          Ronald Terry  481811.80
110531           David Shinn  471952.64
270575        David E Francl  468997.01

<h2>Export Employee Details to CSV in Zipped Folder</h2>

In [4]:
def export_employee_to_csv(employee_name, employee_List):
    try:
        employee_details = get_employee_details(employee_name, employee_List)
        
        if isinstance(employee_details, str):
            return employee_details  

        os.makedirs('Employee Profile', exist_ok=True)
       
        file_path = f"Employee Profile/{employee_name.replace(' ', '_')}.csv"
        
        pd.DataFrame(employee_details).to_csv(file_path, index=False)
        
        with zipfile.ZipFile('Employee Profile.zip', 'w') as zipf:
            zipf.write(file_path)
        
        return f"Employee details exported and zipped successfully: {file_path}"
    
    except Exception as e:
        return f"An error occurred: {str(e)}"

# Export the employee details and zip
print('Enter employee full name:')
employee_name = input() 
result = export_employee_to_csv(employee_name, employee_List)
print(result)

Enter employee full name:

 ALSON LEE

Employee details exported and zipped successfully: Employee Profile/ALSON_LEE.csv